.select {
    width: 150px;
    border: 2px solid #a40d08;
}

option {
    color: forestgreen;
    background-color: aqua;
}

.input {
    margin: 10px;
    padding: 10px;

    font-weight: bold;
    color: darkmagenta;

    background-color: #e18711;
}

.box {
    box-sizing: content-box;
}

.box2 {
    border: 2px solid blueviolet;
}